@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Bootstrap Reset */

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.hero-section {
  background: no-repeat right url("../images/hero-background.png");
  height: 100vh;
}

#left-arrow:hover {
  cursor: pointer;
}

#right-arrow:hover {
  cursor: pointer;
}

/* Initial position of the content */
#dynamic-content {
  position: relative;
  transition: transform 0.5s ease-in-out;
  opacity: 1;
}

/* Slide out to the left */
#dynamic-content.slide-out-left {
  transform: translateX(-100%);
  opacity: 0;
}

/* Slide in from the right */
#dynamic-content.slide-in-right {
  transform: translateX(100%);
  opacity: 0;
}

/* Slide out to the right */
#dynamic-content.slide-out-right {
  transform: translateX(100%);
  opacity: 0;
}

/* Slide in from the left */
#dynamic-content.slide-in-left {
  transform: translateX(-100%);
  opacity: 0;
}

/* Reset to normal position after the transition */
#dynamic-content.active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.3s ease-in-out, opacity 0.3s;
}

#go-top-btn {
  position: fixed;
  bottom: 20px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  transition: opacity 0.4s, transform 0.4s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  z-index: 99;
  opacity: 0;
  transform: scale(0.9);
}

#go-top-btn.show {
  opacity: 1;
  transform: scale(1);
}

#go-top-btn i {
  color: #fff;
  font-size: 25px;
}

.navbar-toggler:focus {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  outline: none !important;
  box-shadow: none !important;
}

.about-us-section {
  background: url("../images/stylish-line.svg") no-repeat;
  background-position: bottom left;
}

/* Features Section CSS */

.feature-card-1 {
  background: url("../images/feature-card-1-bg.png") no-repeat center;
  background-size: cover;
  height: 350px;
  border-radius: 20px;
}

.feature-card-2 {
  background: url("../images/feature-card-2-bg.png") no-repeat center;
  background-size: cover;
  height: 350px;
  border-radius: 20px;
}

.feature-card-3 {
  background: url("../images/feature-card-3-bg.png") no-repeat center;
  background-size: cover;
  height: 350px;
  border-radius: 20px;
}

/* How It Works CSS */

.how-it-works-bg {
  background: url("../images/how-it-works-bg.svg") no-repeat center;
  background-size: cover;
  height: max-content;
}

.circle {
  height: 40px;
  width: 40px;
}

.btn-modal-close {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

.slick-next {
  background-color: #ffffff !important;
  box-shadow: 0px 0px 26px 0px #0000001c !important;

  padding: 20px !important;
  right: -60px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: #06c328 !important;
  font-size: 15px !important;
  border-radius: 5px !important;
}

.slick-next:before {
  font-family: slick;
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: none !important;
}

.slick-prev {
  background-color: #ffffff !important;
  box-shadow: 0px 0px 26px 0px #0000001c !important;
  border-radius: 5px !important;
  padding: 20px !important;
  left: -60px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: #06c328 !important;
  font-size: 15px !important;
}

.slick-prev:before {
  font-family: slick;
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: none !important;
}

.quotes-section {
  background: url("../images/quote-bg.png") no-repeat center;
  background-size: cover;
  height: max-content;
}

.input-group-style-reset {
  background-color: #f5f5f5 !important;
}

.input-group-style-reset:focus {
  box-shadow: none !important;
  border: 1px 1px 0px 1px !important;
  border-style: solid !important;
  border-color: #ced4da !important;
  outline: none !important;
}

.bootstrap-input-reset-style:focus {
  box-shadow: none !important;
  outline: none !important;
}

.contact-border {
  border-radius: 0px 0px 94px 0px;
}

.footer-link-underline {
  text-decoration: underline;
  text-decoration-color: #06c328;
  text-decoration-style: solid;
}

.email-placeholder::placeholder {
  color: white !important;
}

.input-reset-style {
  background-color: #21212180 !important;
}

.input-reset-style:focus {
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
  outline: none !important;
}

.footer {
  background-color: #07444eb0;
}
.mobile-hidden {
  display: block;
}

/* Dashboard Page CSS */

.btn-reset-style:focus {
  outline: none;
  box-shadow: none !important;
}

.flag-dropdown {
  overflow-y: scroll !important;
  height: 205px !important;
}

.navbar-nav .nav-item {
  position: relative;
}

.navbar-nav .nav-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 1px;
  background-color: #121212; /* or any color you prefer */
}

.navbar-nav .nav-link {
  display: flex;
  align-items: center;
}

.custom-nav-tabs.active {
  background-color: #ffdd38 !important;
  color: black !important;
}

.date-range-selector {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fafafb;
  border-radius: 8px;
  width: fit-content;
  cursor: pointer;
  position: relative;
}

.calendar-icon {
  font-size: 20px;
  margin-right: 10px;
}

.date-range-text {
  display: flex;
  flex-direction: column;
}

.date-range-text .days {
  font-weight: bold;
}

.date-range-text .dates {
  color: #555;
}

.dropdown-icon {
  margin-left: 10px;
  font-size: 12px;
}

/* Date Picker Styling */
.date-picker-container {
  display: none;
  margin-top: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 40px;
}

.date-picker-container input {
  margin-right: 10px;
}

.personal-info {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  border: 2px solid green;
}

.file-input {
  display: none;
}

/* Custom button styles */
.file-upload-btn {
  background-color: #3b7471;
  color: white;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effect */
.file-upload-btn:hover {
  background-color: #237156;
}

/* Button focus effect */
.file-upload-btn:focus {
  outline: none;
  /* box-shadow: 0 0 5px #2b8e6e; */
}

.custom-date-container {
  position: relative;
}

.custom-date-input {
  width: 100%;
  padding: 10px;
  padding-right: 40px; /* Add space for the arrow */
  border-radius: 5px;
  border: 1px solid #d1d5db;
  background-color: #f3f4f6;
  font-size: 16px;
  transition: all 0.3s;
}

.custom-date-input:focus {
  /* border-color: #4ade80; */
  outline: none;
  /* box-shadow: 0 0 5px rgba(72, 187, 120, 0.5); */
}

/* Right-side arrow */
.date-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Prevent the arrow from blocking clicks */
}

/* Optional: Style the placeholder to always be aligned to the left */
.custom-date-input::placeholder {
  color: #9ca3af;
}

.custom-month-container {
  position: relative;
  /* width: 250px; */
}

.custom-month-input {
  width: 100%;
  padding: 10px;
  padding-right: 40px; /* Add space for the arrow */
  border-radius: 5px;
  border: 1px solid #d1d5db;
  background-color: #f3f4f6;
  font-size: 16px;
  transition: all 0.3s;
}

.custom-month-input:focus {
  /* border-color: #4ade80; */
  outline: none;
  /* box-shadow: 0 0 5px rgba(72, 187, 120, 0.5); */
}

/* Right-side arrow */
.month-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Prevent the arrow from blocking clicks */
}

/* Placeholder styling */
.custom-month-input::placeholder {
  color: #9ca3af;
}
.custom-year-container {
  position: relative;
}

.custom-year-input {
  width: 100%;
  padding: 10px;
  padding-right: 40px; /* Add space for the arrow */
  border-radius: 5px;
  border: 1px solid #d1d5db;
  background-color: #f3f4f6;
  font-size: 16px;
  transition: all 0.3s;
}

.custom-year-input:focus {
  /* border-color: #4ade80; */
  outline: none;
  /* box-shadow: 0 0 5px rgba(72, 187, 120, 0.5); */
}

/* Right-side arrow */
.year-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Prevent the arrow from blocking clicks */
}

/* Placeholder styling */
.custom-year-input::placeholder {
  color: #9ca3af;
}

.staff-image {
  height: 45px;
  width: 45px;
}

.staff-image img {
  height: 100%;
  width: 100%;
  border: 2px solid #ccc;
}

.equipment-image {
  height: 45px;
  width: 45px;
}

.equipment-image img {
  height: 100%;
  width: 100%;
  border: 2px solid #ccc;
}

.file-drop-zone {
  border: 2px dashed #ced4da;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  background-color: #f9fafc;
  transition: background-color 0.3s ease;
}

.file-drop-zone-inner {
  color: #6c757d;
}

.icon {
  font-size: 40px;
  display: block;
  margin-bottom: 10px;
}

.browse-file {
  color: #3b7471;
  font-weight: 600;
  cursor: pointer;
}

.file-size {
  font-size: 12px;
  color: #adb5bd;
}

.file-drop-zone.dragover {
  background-color: #f1f3f5;
}

.file-item {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  background-color: #ffffff;
  align-items: center;
}

.file-name {
  font-weight: bold;
}

.file-size-display {
  color: #6c757d;
  font-size: 12px;
}

.delete-icon {
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  background-color: #e6ede5;
}

.delete-icon img {
  width: 10px; /* Adjust width */
  height: 10px; /* Adjust height */
  cursor: pointer;
}

/* Styling for Read-Only Document */
.file-drop-zone.readonly-document {
  border: 2px dashed #28a745;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  background-color: #f9fafc;
  margin-bottom: 20px;
}

.browse-readonly-file {
  color: #3b7471;
  cursor: pointer;
  font-weight: 600;
}

/* Uploaded Read-Only Files Preview Section */
#readonlyFileList .file-item {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  background-color: #ffffff;
  align-items: center;
}

#readonlyFileList .file-name {
  font-weight: bold;
}

#readonlyFileList .file-size-display {
  color: #6c757d;
  font-size: 12px;
}

#readonlyFileList .delete-icon {
  cursor: pointer;
}

#readonlyFileList .delete-icon img {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

div:where(.swal2-container).swal2-center > .swal2-popup {
  grid-column: 2;
  grid-row: 2;
  place-self: center center;
  width: 450px;
  border-radius: 20px;
}

div:where(.swal2-container) h2:where(.swal2-title) {
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: 0 !important;
  color: inherit;
  font-size: 1.875em;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  word-wrap: break-word;
}

div:where(.swal2-container) div:where(.swal2-actions) {
  display: flex;
  z-index: 1;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 0 !important;
  padding: 0;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #3b7471 !important;
  color: #fff;
  font-size: 1em;
}

div:where(.swal2-container) .swal2-html-container {
  z-index: 1;
  justify-content: center;
  margin: 0;
  padding: 1em 1em 0.3em !important;
  overflow: auto;
  color: #7d7d7d !important;
  font-size: 1em !important;
  font-weight: normal;
  line-height: 1.4rem !important;
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
}

.time-text {
  font-size: 9px;
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .mobile-hidden {
    display: none;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .mobile-hidden {
    display: none;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .mobile-hidden {
    display: none;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */

@media (min-width: 767.98px) {
  .divider {
    display: block;
    visibility: hidden;
    font-size: 0;
  }
}
